/* linkguide general */
.red{color:#f00}
.yellow{color:#c60301}
.redmind{color:#c60301}
.black{color:#000}
.bold{font-weight:bold;}
.italic{font-style:italic;}
.shownone{display:none}
.aligncenter{text-align:center}
a{outline:none}
span.linkguide_title{color:#3193ac; font-size:16px}
span.linkguide_subtitle{color:#6B6040; font-size:12px; font-weight:bold}
div.clear{clear:both; height:0px; overflow:0px; line-height:0px}
div.spacer5{clear:both; height:5px}
div.spacer6{clear:both; height:6px}
div.spacer10{clear:both; height:10px}
div.spacer12{clear:both; height:12px}
div.spacer13{clear:both; height:13px}
div.spacer14{clear:both; height:14px}
div.spacer15{clear:both; height:15px}
div.spacer16{clear:both; height:16px}
div.spacer20{clear:both; height:20px}
div.spacer30{clear:both; height:30px}
div.spacer36{clear:both; height:36px}
div.spacer38{clear:both; height:38px}
div.spacer40{clear:both; height:40px}
div.spacer50{clear:both; height:50px}
.floatright{float:right}
.floatleft{float:left}
.floatauto{margin:auto}
.box19{width:19px}
.box140{width:140px}
.box150{width:150px}
.box160{width:160px}
.box200{width:200px}
.box229{width:229px}
.box244{width:244px}
.box269{width:269px}
.box330{width:330px}
.box462{width:462px}
.boxgray{background:#f8f8f8}
.boxshadow_simulate1{border-right:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6}
div.top10{margin-top:10px}
div.bottom20{margin-bottom:20px}
div.left20{margin-left:20px}
a.guideLink:link{color:#35a8c6;}
a.guideLink:visited{color:#35a8c6;}
a.guideLink:active{color:#35a8c6;}
a.guideLink:hover{color:#35a8c6;}
.color-headlines{color:#3193ac}
.color-extraheadlines{color:#62aabc}
.color-brown-red{color:#be7169}
.colorLink{color:#35a8c6;}
.colorReason{color:red;}
.font11{font-size:11px}
.font13{font-size:13px}
.underline{text-decoration:underline}
.center{margin:0px auto; overflow:hidden}
h1.generalh1{font-size:19px}
hr.hryellow{margin:10px 1px; height:0px; line-height:0px; border:0px; border-bottom:1px solid #f7e988}
/* button yellow */
.button_yellow_left{height:27px; width:25px; display:block; float:left; background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png') no-repeat; background-position: -7px -217px}
.button_yellow_right{text-transform: uppercase;color:#706448; font-style:italic; height:22px; text-decoration:none;  padding-top:5px; display:block; float:left;padding-right:25px;  background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png'); background-position: right -217px}
/* big */
.button_yellow_left_big{
	height:36px; 
	width:30px; 
	display:block; 
	float:left; 
	background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png') no-repeat -7px -363px;
}
.button_yellow_right_big{
	font-size:14px;
	text-transform: uppercase;
	color:#706448; 
	font-style:italic; 
	height:27px; 
	text-decoration:none; 
	padding-top:9px; 
	display:block; 
	float:left;
	padding-right:30px;
	background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png') no-repeat right -363px;
}
.button_white_left{height:27px; width:15px; display:block; float:left; background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png') no-repeat; background-position: -7px -252px}
a.button_white_right{text-transform: uppercase;color:#0087a5; font-style:italic; height:22px; text-decoration:none;  padding-top:5px; display:block; float:left;padding-right:15px;  background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png'); background-position: right -252px}
a.button_white_right:hover{text-transform: uppercase;color:#0087a5; font-style:italic; height:22px; text-decoration:none;  padding-top:5px; display:block; float:left;padding-right:15px;  background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png'); background-position: right -252px}
.bt_fix_left{width:9px}
.bt_fix_right{}
/* icon stuff */
.LinkIconRight{width:20px; height:20px; display:block; float:left; background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png'); background-position: -185px -290px}
.LinkIconHeart{width:20px; height:20px; display:block; float:left; background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png'); background-position: -8px -291px}
.LinkIconPen{width:20px; height:20px; display:block; float:left; background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png'); background-position: -43px -290px}
.LinkIconHouse{width:20px; height:20px; display:block; float:left; background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png'); background-position: -79px -290px}
.LinkIconChain{width:20px; height:20px; display:block; float:left; background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png'); background-position: -114px -290px}
.LinkIconArrow{width:20px; height:20px; display:block; float:left; background:url('http://cdn.sommerferie.nu/images/linkguide/linkguide1.png'); background-position: -150px -290px}
/* linkguide module L7 login box */
.w430{width:430px}
.w292{width:292px}
.w256{width:256px}
.w263{width:263px}
.w235{width:235px}
.w175{width:175px}
div.linkguide_box{color:#000;float:left; background-color:#F6F6F6;  border-right:1px solid #c9c9c9;  border-bottom:1px solid #c9c9c9; font-size:12px; background-image:url('http://cdn.sommerferie.nu/images/linkguide/login_bg.gif'); background-repeat:repeat-x; background-position:bottom }
div.linkguide_box div.border{border-top: 1px solid #f9f9f9;}
div.linkguide_box hr{height:0px; padding:0px; margin:0px; width: 100%; clear: both; border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f9f9f9; font-size: 0px; line-height: 0px; overflow: hidden;}
div.linkguide_box_header{background-color:#f9f9f9;text-align:center; color:#35a8c6; font-style:italic; padding-top:5px; padding-bottom:3px; text-transform: uppercase; border-bottom: 1px solid #f1f1f1;}
div.linkguide_box div.left{float:left; width:88px; padding-left:21px; padding-top:6px}
div.linkguide_box div.right{float:left; width:305px; padding-right:16px;}
div.linkguide_box div.right label{float:left; padding-top:2px; padding-left:1px; font-size:13px}
.inputfield{padding-left:6px; height:24px; font-size:13px; line-height:16px; border:1px solid #dbd8d1;}
.inputfield{padding-top:5px\9; height:19px\9;}
.input_fix{margin-right:10px;}
.select_fix{margin-right:10px; padding-left:2px; padding-top:3px; padding-bottom:3px; line-height:16px; height:28px; display:none}
.select_fix option{padding-left:6px; height:24px; font-size:13px; padding-top:3px;}
div.L7_login_choice1{width:300px; background-color:#f4f4f4}
div.L7_login_choice2{width:300px; background-color:#f4f4f4; padding-top:3px}
div.L7_login_choice1 input.choice1{float:left; margin-left:11px}
div.L7_login_choice2 input.choice2{float:left; margin-left:11px}
div.L7_login_submit{text-align:right; padding-right:2px}
a.L7_login_forgot{float:right; display:block; margin-top:7px; color:#3193ac;}
div.L7_login_info2{float:left; margin-left:18px; width:242px; padding-top:4px}
div.L7_login_info2 ul{list-style-type:square; list-style-position:inside; margin:10px 0px 10px 5px}
div.L7_login_info2_header{padding-bottom:10px; color:#3193ac; font-size:13px}
span.L7_error{color:#f00}
/* module L4 my links + L2 list main */
div.mylinks_main{width:640; border-bottom:1px solid #b3d9de; }
div.mylinks_main_border{border-top:1px solid #b3d9de}
div.mylinks_left{width:410px; float:left; border:0px solid #000}
div.mylinks_left span.left{display:block; width:160px; float:left;}
div.mylinks_left span.right{display:block;width:250px; float:left;}
div.mylinks_right{width:221px; float:left; border:0px solid #000; margin-left:59px}
h3.mylinks_healine{color:#0087a5; font-size:13px; padding-bottom:5px}
a.mylinks_healine{color:#0087a5; font-size:13px; padding-bottom:5px}
.mylinks_color{color:#6c6040}
.mylinks_color a{color:#6c6040}
a.mylinks_control_delete{display:block; float:right; padding:5px 10px; background-color:#b3d9de; color:#0087a5; font-weight:bold; text-decoration:none; margin-left:5px}
a.mylinks_control_edit{display:block; float:right; padding:5px 10px; background-color:#b3d9de; color:#0087a5; font-weight:bold; text-decoration:none}
span.icon{background:url("http://cdn.sommerferie.nu/images/icons/proplus.png") no-repeat; padding-left:18px}
span.number{padding-left:18px}
div.mylinks_bar{background:url('http://cdn.sommerferie.nu/images/linkguide/percent_back.jpg'); height:14px; padding:2px 3px 3px 2px}
div.mylinks_fill{background:url('http://cdn.sommerferie.nu/images/linkguide/percent_fill.jpg'); height:14px}
/* module L3 tagcloud */
div.tagcloud a{color:#7e7356}
div.tagcloud span.headline{color:#3193ac ; font-size:16px }
div.tagcloud span.smallest{font-size:12px}
div.tagcloud span.small{font-size:16px}
div.tagcloud span.medium{font-size:18px}
div.tagcloud span.large{font-size:20px}
div.tagcloud span.largest{font-size:22px}
/* login  box */
#justForWidth li.userData{background:url(); background-color:#0096b1}
#justForWidth li.userData form{display:inline}
span.login_user_box1{height:17px; display:block; padding:5px 10px 0;float:left; font-size:12px; color:#fff; line-height:12px}
a.login_user_logout{display:inline; color:#fff;}
a.login_user_profile{display:inline; padding:0px}
#justForWidth li.login_user_box2{font-size:12px;display:none; position:relative; float:left; clear:both; background:url();background-color:#0096b1; color:#fff; padding:10px}
span.login_user_normal_link_container{height:20px; float:left; display:block}
span.login_user_normal_link_container a{color:#fff; clear:both; text-decoration:underline; padding-left:5px}
span.login_user_spacer1{width:20px; height:20px; display:block; float:left}
span.login_user_spacer2{width:10px; height:20px; display:block; float:left}
span.login_user_normal_link_container2{float:left; display:block; padding-top:4px}
span.login_user_normal_link_container2 a{color:#fff;float:none; text-decoration:underline; padding:0px}
span.login_user_normal_link_container1{float:left; display:block}
span.login_user_normal_link_container1 a{color:#fff;float:none; text-decoration:underline; padding:0px }
span.login_user_normal_link_container1 a.normal{color:#fff; text-decoration:underline; padding-left:5px; padding-top:4px}
div.login_user_links{clear:both; margin-left:25px; margin-top:10px}
hr.login_user_line{display: block; position: relative; padding: 0;margin: 8px auto;width: 100%;clear: both;border: none;border-top: 1px solid #FFF;border-bottom: 0px solid #FFF;font-size: 1px;line-height: 0;overflow: visible;}
div.login_user_title{float:left; padding-top:5px; padding-left:5px}
select.login_user_house{width:200px; font-size:12px; line-height:14px; height:20px}
/* module L6 + tabs */
div.tabs{border-bottom:1px solid #b3d9de}
div.tabs div.item{float:left; padding:7px 16px 8px 16px}
div.tabs div.active{ background-color:#b3d9de; color:#715800;}
div.linkguide_border{border-bottom:1px solid #b3d9de; font-size:12px}
div.linkguide_border div.right label{float:left; width:108px; height:18px; padding-top:5px; padding-left:1px; color:#000}
h3.headline{padding:0px; margin:0px; font-size:12px; color:#3294ad}
div.newsletter{font-size:11px; color:#95908c; width:400px}
label.newsletter_choice{float:left; display:block; margin-top:5px; color:#000; width:auto; height:auto; padding:0px;}
input.newsletter_choice_radio{float:left; display:block; margin-top:5px}
/* module L5 */
div.add_link{border-bottom:1px solid #b3d9de; font-size:12px}
div.add_link textarea{width:298px; height:70px; border:1px solid #dbd8d1;}
div.add_link label{float:left; width:130px; height:18px; padding-top:5px; color:#000}
/* profile */
div.profile_cont{border-bottom:1px solid #b3d9de;}
div.profile label{float:left; width:130px; height:18px; padding-top:5px; color:#000}
div.profile_left{float:left; width:345px;color:#6B6040; line-height:18px }
div.profile_data{float:left; width:230px; color:#3193AC; font-weight:bold; font-size:12px}
div.profile_cont div.labels{float:left; width:115px;}
/* forgot */
div.forgot label{float:left; width:100px; height:18px; padding-top:5px; color:#000}
/* linkguide system message */
div.message_wrapper{border:1px solid #ced8d9; background-color:#fff; padding:1px}
div.message{background-color:#eceecf; padding:12px}
/* L1 search */
div.search_input{float:left; width:315px; padding-top:3px;}
div.search_input input{width:300px}
div.search_hit{float:left; width:150px}
div.search_info{float:left; width:220px}
/* D4_forum */
div.forum_topic{width:420px; font-size:14px; color:#6e5f40}
h1.debate{margin:0px; padding:0px; font-size:24px; line-height:28px}
div.forum_topic a{color:#37a8c6; text-decoration:none; text-transform:uppercase; font-style:italic; font-weight:bold}	
div.forum_topic span{background:#edeece; padding:0px 5px}
div.forum_topic div{font-size:11px; padding-top:5px}
div.debateBreadcrumbs{}
div.debateBreadcrumbs a{color:#000}
div.debateBreadcrumbs a:hover{color:#000}
table.forum_data{width:100%; color:#6e5f40}
table.forum_data a{color:#37a8c6; text-decoration:none; font-weight:bold; font-size:12px; padding:12px 0px 12px 0px; display:block; width:100%}
table.forum_data a span{color:#6e5f40; font-weight:normal; display:none}
table.forum_data a span.show{display:inline}
table.forum_data td{border-bottom:1px solid #b3d8de; vertical-align:top; padding:12px 0px 12px 0px;}
table.forum_data td.link{padding:0px; width:380px}
table.forum_data td.content{width:80%}
table.forum_data td.link_search{padding:0px 0px 0px 5px;}
table.forum_data td.right{text-align:right}
table.forum_data td.left{text-align:left}
table.forum_data td.center{text-align:center}
table.forum_data td.paddingLeft{padding-left:10px}
table.forum_data td.paddingRight{padding-right:5px}
table.forum_data tr.hover{background:#fff}
table.forum_data thead{font-size:11px}
table.forum_data thead td{padding:0px 0px 5px 0px}
div.forum_topic ul{list-style-image: none; margin:0px; padding-left:0px}
div.forum_topic ul li{padding-left:28px; background: url('http://cdn.sommerferie.nu/images/debate/forum_arrow.png') 0px 3px no-repeat}
div.forum_right{padding-left:9px; width:262px}
div.forum_view div.debate_view{border-top:1px solid #37a8c6; width:100%}
div.forum_view div.debate_view div.image{float:left; width:89px; }
div.forum_view div.debate_view div.image img{width:89px; }
div.forum_view div.debate_view div.content{float:left; width:602px; color:#6E5F40 }
div.forum_view div.debate_view div.content div.title{background:#e1e1e1; padding:5px 10px 5px 20px; color:#37a8c6}
div.forum_view div.debate_view div.content div.title span.date{float:right; color:#6E5F40; font-size:11px}
div.forum_view div.debate_view div.content div.text{padding:20px 0px 20px 20px}
/* D3_listLatest */
div.forum_links{font-size:14px;}
div.forum_links_right{background:#ebebeb}
div.forum_links h3{color:#37a8c6; font-weight:bold; font-size:14px; margin:0px 0px 7px 0px; padding:0px}
div.forum_links ul{list-style-image: none; margin:0px; padding:0px}
div.forum_links ul li{padding: 0px 0px 10px 19px; text-align:left; background: url('http://cdn.sommerferie.nu/images/debate/forum_arrow_small.png') -1px 7px no-repeat;}
div.forum_links a{font-size:11px; color:#6e5f40}
/* D1 search */
div.D1_search{background-color:#fff; padding:10px}
div.D1_search input.search{width:112px; height:21px; margin-top:1px; padding-right:6px; padding-top:0px}
div.D1_search h3{color:#3193AC; font-weight:bold}
/* D2 help */
div.D2_help{background-color:#d3e2e5; padding:10px; font-size:11px; color:#67919b}
div.colLeftMenu div.D2_help a{width:auto; border-top:0px; padding:7px 12px 0px 5px; font-size:12px;}
div.clearBack{background:none}
div.clearBack div.D2_help a{width:auto; border-top:0px; padding:5px 20px 0px 5px; font-size:12px;}
div.D2_help h3{color:#3193AC; font-weight:bold; font-size:12px;}
/* T1 testPicture */
div.t1subheadline{float:right; background:#f6fe8f; font-size:9px; line-height:11px; font-weight:bold; padding:0px 2px; color:#000}
div.t1image{text-align:center}
/* D6 newDebate */
form.forum_new_debate{}
form.forum_new_debate input,form.forum_new_debate textarea{font-family:Arial; font-size:12px}
form.forum_new_debate h1{font-size:24px; font-weight:normal; padding-top:10px}
form.forum_new_debate div.left{width:100px; float:left; color:#000; padding-top:4px}
form.forum_new_debate div.middle{width:300px; float:left}
form.forum_new_debate div.captcha{width:450px; float:left}
form.forum_new_debate div.middle input{width:280px;}
form.forum_new_debate div.middle select{width:288px; height:27px; padding:4px 0px; font-family:Arial; font-size:12px}
form.forum_new_debate div.right{width:285px; float:left; font-size:11px; line-height:14px; padding-left:6px}
form.forum_new_debate div.right_special{width:591px; float:left}
form.forum_new_debate div.right_special textarea{float:left; width:576px; height:100px; border: 1px solid #DBD8D1;}
form.forum_new_debate span{color:#37a8c6; float:left}
form.forum_new_debate span.blue{color:#37a8c6; float:none}
form.forum_new_debate div.spacer{clear:both;height:10px; margin-bottom:10px; border-bottom:1px solid #b3d8de}
/* forum errors */
div.forum_error{border:1px solid #dbdbdb; padding:1px; background:#fff; clear:both; font-size:11px; color:#000}
div.forum_error div.content{background:#eaeccd; padding:10px}
div.forum_error div.content img{float:left; padding-right:10px}
div.forum_error div.content span.text{display:block; float:left; padding-top:3px}
/* rent specific style */
div.rentBox{margin:10px 1px; background:#f7e988; padding:15px 20px}
ul.rentList{list-style:url('http://cdn.sommerferie.nu/images/icons/rentListIcon.jpg') inside; padding:0px 20px}
div.extraheadline{padding:0px 30px; font-style:italic; font-weight:bold; font-size:13px; color:#62aabc; text-align:center}
/* overlay popup */
#fade {
	display: none; 
	background: #000;
	position: fixed; 
	left: 0; 
	top: 0;	
	width: 100%; 
	height: 100%;	
	opacity: .40;	
	z-index: 9999;
}
.debatePopup{
	display: none; 
	background: #edeecf; 
	float: left; 
	position: fixed; 
	top: 50%; 
	left: 50%; 
	z-index: 99999; 
	width:480px; 
	height:130px; 
	padding:10px; 
	border:1px solid #fff
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {position: absolute;}
*html .debatePopup {position: absolute;}
.debatePopupIcon{width:40px; float:left; height:100%}
.debatePopupText{width:440px; padding-top:5px; color:#000; float:left; height:100%}
.debatePopupText a{color:#000;}
#closePopup{color:#37A8C6; font-weight:bold}
#newUserPopup{color:#37A8C6}
/* FAQ */
div.faq_container{clear:both; margin:10px 0px 0px 0px;}
div.faq_container div.question{float:left; width:650px; font-size:15px}
div.faq_container div.answer{padding:10px 0px 0px 30px; color:#7d7255}
div.faq_container span.readmore{font-size:12px; color:#37A8C6; text-decoration:underline}
div.faq_container h2{color:#37A8C6; width:290px; border-bottom:3px solid #c7dfe3}
div.faq_container div.open{width:20px; height:7px; float:left; background:url('http://cdn.sommerferie.nu/images/faqArrow.png') 0 -14px no-repeat; margin:5px 0px 0px 10px}
div.faq_container div.close{width:20px; height:7px; float:left; background:url('http://cdn.sommerferie.nu/images/faqArrow.png') 0 0 no-repeat; margin:5px 0px 0px 10px}
ul.faq_list{clear:both}
ul.faq_list li.list_item{margin:0px 0px 0px 0px; padding:5px 0px; clear:both; cursor:pointer}
ul.faq_list li.list_item:hover{background:#fff;}
ul.faq_list li.list_item span.question_text{color:#000}
ul.faq_list li.list_item:hover span.question_text{text-decoration:underline;}
ul.faq_list li.list_item:hover span.readmore{text-decoration:none;}
ul.faq_list li.active{background:#fff;}
div.faq_container span.black{color:#000}
/* rent specific style */
div.rentBox{margin:10px 1px; background:#f7e988; padding:15px 20px}
ul.rentList{list-style:url('http://cdn.sommerferie.nu/images/icons/rentListIcon.jpg') inside; padding:0px 20px}
div.extraheadline{padding:0px 30px; font-style:italic; font-weight:bold; font-size:13px; color:#62aabc; text-align:center}
/* carousel */
.wrapper-carousel{background:url('http://cdn.sommerferie.nu/images/backgrounds/carousel-background.jpg') repeat-x 0px 15px #e0e0e0; width:956px; margin:auto; padding-bottom:30px}
.carousel .box-slideshow-nav-left, 
.carousel .box-slideshow-nav-right, 
.carousel .nav-bottom span, 
.carousel .nav-bottom .active {
    background: url("http://cdn.sommerferie.nu/images/backgrounds/carousel.png") no-repeat scroll 0 0 transparent;
}
.carousel {
    /*float: left;*/
    height: 302px;
    position: relative;
	margin:auto;
	width: 942px;
}
.carousel .tabs {
    display: block;
    height: 40px;
    width: 941px;
	border:0px;
	padding-left:1px;
	padding-left:6px;
	background:url('http://cdn.sommerferie.nu/images/backgrounds/carousel-background.jpg') repeat-x 0px 15px;
	font-size:15px;
}
.carousel .tabs .tab-spacer{
	float:left;
	width:1px;
	height:25px;
	background:#fff;
	margin-top:15px;
}
.carousel .tabs .tab-outer {
    cursor: pointer;
    float: left;
    margin: 15px 0 0 0px;
    padding-right: 15px;
	background:#b9cbcf;
}
.carousel .tabs .tab-outer.active {
    margin: 10px 0 0 0px;
	background:#f4e98d;
}
.carousel .tabs .tab-inner {
    display: block;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding: 0 30px 0 45px;
	color:#48a4bb;
}
.carousel .tabs .tab-outer.active .tab-inner {
    height: 30px;
	line-height: 30px;
}
.carousel .box-slideshow-nav-left {
    cursor: pointer;
    display: block;
    height: 50px;
    left: 2px;
    position: absolute;
    top: 90px;
    width: 31px;
    z-index: 10;
}
.carousel .box-slideshow-nav-right {
    background-position: -29px 0;
    cursor: pointer;
    display: block;
    height: 50px;
    position: absolute;
    right: 2px;
    top: 90px;
    width: 31px;
    z-index: 10;
}
.carousel-footer{
	width:930px;
	border-top:5px solid #f1ea8f;
	background:#f3f3f3;
	height:5px;
	clear:both;
	margin:auto;
}
.carousel .nav-bottom {
    float: left;
    padding: 5px 0px 10px 0px;
    position: relative;
    text-align: center;
    width: 930px;
	margin:0px 6px;
	background:#f3f3f3;
}
.ie7 .carousel .nav-bottom {
    padding-top: 20px;
}
.carousel .nav-bottom span {
    background-position: -20px -58px;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin: 0 5px;
    width: 11px;
}
.carousel .nav-bottom .active {
    background-position: 0px -58px;
}
.carousel .box-slideshow {
    float: left;
    height: 229px;
    margin-top: -6px;
    padding: 6px 6px 0px 6px;
    position: relative;
    width: 930px;
}
.carousel .box-slideshow .box-slideshow-content-wrapper {
	background:#f3f3f3;
}
.carousel .box-slideshow .box-slideshow-content {
    /*float: left;*/
	margin:auto;
    height: 229px;
    overflow: hidden;
    position: relative;
    width: 840px;
	background:#f3f3f3;
}
.carousel .box-slideshow .box-slideshow-content ul {
    display: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 9999px;
}
.carousel .box-slideshow .box-slideshow-content ul li {
    float: left;
    height: 205px;
    margin: 11px 0;
    overflow: hidden;
    padding: 0 12px;
    width: 144px;
}
.carousel .box-slideshow .box-slideshow-content ul li a {
	text-decoration:none;
	font-weight:bold;
}
.carousel .box-slideshow .box-slideshow-content ul li .imgCon {
    float: left;
    height: 160px;
}
.carousel .box-slideshow .box-slideshow-content ul li img {
    display: block;
    padding: 10px 0px;
}
.carousel .box-slideshow .box-slideshow-content ul li h3 {
	
}
.carousel .box-slideshow .box-slideshow-content ul li span {
    float: left;
    margin: 0;
    width: 100%;
	color:#369DB8;
}
/* house review */
.mHouse h2.house-review-title{
	font-size:24px;
	color:#09809f;
	margin:10px 0px 3px 0px;
}
.house-review{
	background:#f5f5f5;
	padding:17px 20px 20px 13px;
	color:#7d7255;
}
.house-review h3,
.house-review li.optional h3.suppress{
	color:#09809f;
	font-size:18px;
	margin-bottom:5px;
}
.house-review li{
	clear:both;
	margin-bottom:5px;
	overflow:hidden;
}
.house-review li.recommend{
	margin-top:20px;
}
.house-review li.recommend input{
	margin-top:8px;
}
.house-review li.recommend .first{
	margin-left:30px;
}
.house-review li.optional.first{
	margin-top:20px;
}
.house-review li.optional.bottom{
	margin-bottom:20px;
}
.house-review li.optional.first div{
	background:none;
}
.house-review li.optional h3{
	color:#7d7457;
}
.house-review li.optional div{
	padding-left:20px;
	background:url('/images/icons/quotes-left.png') 0px 20px no-repeat;
	overflow:hidden;
}
.house-review li.optional div.quotes{
	background:url('/images/icons/quotes-right.png') 0px 2px no-repeat;
	margin-left:5px;
}
.house-review li.optional input{
	width:480px;
}
.house-review li.optional textarea{
	width:478px;
	height:150px;
}

.house-review li.optional.clear div{
	background:none;
}
.house-review li.optional.splitter .flt,
.house-review li.optional.splitter select{
	width:230px;
}
.house-review li.optional.splitter select{
	border:1px solid #DBD8D1;
}
.house-review li.optional.splitter input{
	width:221px;
}
.house-review div.question{
	width:240px;
	float:left;
	padding-top:6px;
}
.house-review div.error{
	color:#f00;
}
.house-review div.error input,
.house-review div.error textarea,
.house-review li.optional.splitter div.error select{
	border:1px solid #f00;
}
.house-review div.general-error{
	color:#f00;
	padding-top:6px;
	margin-right:40px;
}
.house-review label.sun{
	background:url('/images/icons/suns.png') 0px -78px no-repeat;
	text-indent:-1000px;
	width:32px;
	height:32px;
	display:block;
	float:left;
	margin-left:1px;
}
.house-review label.sun.active{
	background:url('/images/icons/suns.png') 0px -1px no-repeat;
}
.house-review .answer-info{
	display:none;
	float:left;
	margin:3px 0px 0px 10px;
	padding-left:16px;
	background:url('/images/icons/arrowleftgreen.png') 0px 0px no-repeat;
}
.house-review .answer-info div{
	background:#659fad;
	line-height:25px;
	color:#fff;
	font-weight:bold;
	padding:0px 10px;
}
.house-review .submit{
	width:190px;
	float:right;
}
.house-review .submit a{
	font-style:italic;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
}
.house-review-done  {
	display: none;
	background:#f5f5f5;
	padding:17px 20px 20px 13px;
	color:#7d7255;
}
/* show reviews */
.show-review-big,
.show-review-small{
	margin:0px;
	padding:0px;
	display:inline;
}
.show-review-big li{
	width:26px;
	height:26px;
	float:left;
	background:url('http://cdn.sommerferie.nu/images/icons/big_sun.png') no-repeat 0px 0px;
}
.show-review-big li.half{
	background-position:0px -30px;
}
.show-review-big li.full{
	background-position:0px -60px;
}
.show-review-small li{
	width:17px; 
	height:15px; 
	float:left;
	background:url('http://cdn.sommerferie.nu/images/icons/small_sun.png') no-repeat 0px 0px;
}
.show-review-small li.half{
	background-position:0px -18px;
}
.show-review-small li.full{
	background-position:0px -36px;
}
/* review info */
.review{
	overflow:hidden;
}
.review-info{
	border-bottom:1px solid #35a9c6;
	padding-bottom:10px;
	overflow:hidden;
	margin-bottom:10px;
}
.reviews-visible{
	line-height:25px; 
	font-weight:bold; 
	text-decoration:none;
}
.reviews-visible span{
	margin-left:10px;
}
/* element style */
.review ul li.element{
	border-bottom:1px solid #fff; 
	padding-bottom:30px;
	margin-top:10px;
}
.review ul li.element:first-child{
	margin-top:0px;
}
.review ul li.element h2{
	font-weight:bold; 
	padding-bottom:10px;
}
.review ul li.element .author{
	color:#7c7155; 
	font-size:11px; 
	margin-left:15px; 
	line-height:25px;
}
.review ul li.element .content{
	margin:10px 0px 20px 0px;
}
.review ul li.element .author .new{
	color:#f00;
}
.review ul li.element .notes{
	overflow:hidden;
}
.review ul li.element .notes .ratings{
	float:left; 
	width:600px;
}
.review ul li.element .notes .ratings li.element{
	margin-bottom:5px;
	margin-top:0px;
	padding-bottom:0px;
	border:0px;
}
.mHouse .tabs div.review .review-load{
	overflow:hidden;
	margin:10px 0px 0px 200px;
}
/* Feature Ads */
.feature-ads{
	height:142px; 
	margin-top:10px; 
	overflow:hidden;
	clear:both;
}
.feature-ads a.prev{
	display:block; 
	width:20px; 
	float:left;
	margin-right:2px;
	height:142px;
	background:url('http://cdn.sommerferie.nu/images/icons/feature-ads-arrow.png') 0px 0px no-repeat;
}
.feature-ads a.next{
	display:block; 
	width:20px; 
	float:left; 
	background:url('http://cdn.sommerferie.nu/images/icons/feature-ads-arrow.png') -24px 0px no-repeat;
	height:142px;
}
.feature-ads a.prev:hover{
	background-position:0px -146px;
}
.feature-ads a.next:hover{
	background-position:-24px -146px;
}
.feature-ads .feature-list-wrapper{
	height:142px; 
	width:649px; 
	overflow:hidden; 
	position:relative; 
	float:left;
}
.feature-ads ul.feature-list{
	width:5000px;
}
.feature-ads ul.feature-list li{
	float:left; 
	width:156px; 
	height:140px; 
	border:0px solid #3193ac; 
	margin:1px 3px; 
	text-align:center; 
	background:#fff;
}
.feature-ads ul.feature-list li a{
	text-decoration:none;
	color:#3193ac;
}
.feature-ads ul.feature-list li a:hover{
	text-decoration:underline;
}
.feature-ads ul.feature-list li a .element-data{
	width:144px; 
	height:108px; 
	border:0px solid #3193ac; 
	margin:5px auto;
}
.feature-ads ul.feature-list li a .element-data div{
	text-align:left; 
	font-size:11px; 
	display:none; 
	position:absolute; 
	line-height:14px; 
	padding:5px; 
	width:134px; 
	height:98px; 
	top:6px; 
	overflow:hidden; 
	background:url('http://cdn.sommerferie.nu/images/icons/feature-ads-back.png');
}
.feature-ads ul.feature-list li a .element-data img{
	width:144px;
	height:108px;
}
.feature-ads ul.feature-list li a .element-title{
	margin:0px 5px; 
	text-align:left; 
	color:#0188a5;
}
.feature-ads.short .prev,
.feature-ads.short .next{
	display:none;
}
.feature-ads.short .feature-list-wrapper{
	width:691px;
}
.feature-ads.short ul.feature-list li{
	width:167px;
}
.feature-ads.short ul.feature-list li a .element-data,
.feature-ads.short ul.feature-list li a .element-data img{
	width:155px;
	height:108px;
}
.feature-ads.short ul.feature-list li a .element-data div{
	width:145px;
}
.colLeft .feature-ads{
	padding-top:10px;
	background:#f1f1f1;
}
.colLeft .feature-ads ul.feature-list li{
	width:186px;
}
.colLeft .feature-ads.short ul.feature-list li a .element-data,
.colLeft .feature-ads.short ul.feature-list li a .element-data img{
	width:174px;
	height:108px;
}
.colLeft .feature-ads.short ul.feature-list li a .element-data div{
	width:164px;
}
/* start reference */
.list-reference{
	clear:both; 
	overflow:hidden; 
	margin:0px 12px;
}
.list-reference ul.list li{
	background:#fff;
	margin-top:12px;
	overflow:hidden;
}
.list-reference ul.list li a.list-reference-info{
	text-decoration:none;
	padding:12px 12px 12px 32px;
	font-size:15px;
	line-height:16px;
	display:block;
	color:#09809f;
	background:url('http://cdn.sommerferie.nu/images/icons/reference-right.png') no-repeat 10px 12px;
	
}
.list-reference ul.list li a.list-reference-info.open{
	background:url('http://cdn.sommerferie.nu/images/icons/reference-down.png') no-repeat 10px 12px;
}
.list-reference ul.list li div.info{
	display:none;
	margin:0px 12px 12px 12px;
	color:#7d7255;
}
.list-reference ul.list li div.info ul{
	list-style:disc inside none;
}
.list-reference ul.list li div.info ul li{
	margin-top:3px;
	padding-left:1px;
}
/* country list */
.country-wrapper{
	margin:17px 12px;
}
.country-wrapper .top{
	background:#b9cbcf; 
	height:29px; 
	margin-top:5px;
}
.country-wrapper .top .header{
	position:absolute; 
	margin-top:-5px; 
	font-size:16px; 
	line-height:18px; 
	background:#0980a0; 
	text-transform:uppercase; 
	color:#fff; 
	padding:8px 18px;
	font-weight:bold;
}
.country-browse{
	background:#f3f3f3; 
	border:1px solid #b9cbcf; 
	border-top:0px; 
	overflow:hidden;
}
.country-browse .fake-border{
	height:1px; 
	background:#fff;
}
.country-content{
	padding:12px; 
	overflow:hidden;
}
.country-list{
	float:left; 
	width:302px;
}
.country-list li{
	color:#7d7255;
}
.country-list li a{
	color:#09809f;
	text-decoration:none;
	line-height:24px;
}
/* Blogs */
.blog-list{
	float:left;
	width:504px;
}
.blog-list a.blog-entry{
	text-decoration:none;
}
.blog-list a.blog-entry:hover,
.blog-list ul li .tags a:hover{
	color:#3193ac;
}
.blog-list ul li{
	padding:10px 15px;
	margin-bottom:10px;
	background:#f3f3f3;
}
.blog-list ul li a h2{
	text-decoration:none;
	font-weight:bold;
	color:#3193ac;
}
.blog-list ul li .content .read-more{
	text-decoration:underline;
	font-style:italic;
	color:#3193ac;
}
.blog-list ul li .tags{
	margin-top:20px;
}
.blog-list ul li .tags a{
	text-decoration:underline;
}
.blog-list ul li .tags b{
	font-size:11px;
}
.blog-list ul li img{
	width:100%;
	border:1px solid #3193ac;
	margin-top:10px;
}
.blog-list ul li .author{
	font-size:11px;
}
.blog-list ul li .author span{
	font-style:italic;
}
.blog-list .content{
	margin-top:10px;
}
/* Blog Item */
.blog-list ul li.blog-item,
.blog-list ul li.blog-item ul li{
	padding:0px;
	background:none;
}
.blog-list ul li.blog-item h2{
	margin:20px 0px 10px 0px;
	font-size:18px;
}
.blog-list ul li.blog-item form label{
	width:70px;
	padding-top:5px;
	float:left;
}
.blog-list ul li.blog-item form textarea{
	width:300px;
	height:100px;
}
.blog-list ul li.blog-item form .floatright{
	margin-right:122px;
}
/* Right column */
.blog-column{
	float:left;
	width:167px;
	margin-left:10px;
	background:#fff;
	padding:5px;
}
.blog-column h3{
	text-transform:uppercase;
	padding:3px;
	margin:10px 0px;
	background:url('http://cdn.sommerferie.nu/images/blog/header_back.jpg') no-repeat;
}
.blog-column h3.first{
	margin-top:0px;
}
.blog-header{
	overflow:hidden;
}
.blog-header h1{
	float:left;
}
.blog-header .blog-share{
	float:right;
	margin-top:20px;
}
.blog-header .blog-share img{
	margin-left:5px;
}
/* Tampering paging style */
.blog-header .paging{
	float:right;
}
.blog-listing ul{
	list-style:none outside none;
	list-style-image:url('http://cdn.sommerferie.nu/images/blog/list-icon.png');
	margin-left:20px;
}
.blog-listing a{
	color:#3193ac;
	text-decoration:none;
}
.blog-readmore{
	margin-top:20px;
}
.blog-readmore h3{
	color:#95908c;
	font-weight:bold;
}
.blog-readmore ul{
	list-style:none outside none;
	list-style-image:url('http://cdn.sommerferie.nu/images/blog/list-icon.png');
	margin-left:13px;
}
.blog-readmore ul li{
	margin-bottom:5px;
}
.blog-readmore a{
	color:#3193ac;
	text-decoration:none;
}
/* multiple sizes */
.blog-tags a{
	text-decoration:none;
	color:#3193ac;
}
.blog-tags .s10{
	font-size:10px;
}
.blog-tags .s12{
	font-size:12px;
}
.blog-tags .s14{
	font-size:14px;
}
.blog-tags .s16{
	font-size:16px;
}
.blog-tags .s18{
	font-size:18px;
}
.blog-tags .s20{
	font-size:20px;
}
.blog-tags .s22{
	font-size:22px;
}
.blog-tags .s24{
	font-size:24px;
}
.blog-tags .s26{
	font-size:26px;
}


/* --------------------------------------------------------------- NEW STYLE --------------------------------------------------------------- */
.xbutton,
a.xbutton{
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	background:#fff;
	color:#35a9c6;
	text-transform:uppercase;
	text-decoration:none;
	font-style:italic;
	font-weight:bold;
	padding:3px 20px 3px 20px;
	display:inline-block;
	box-shadow:1px 1px 2px 0px #B2B0B0;
	margin-bottom:2px;
}
.xbutton.white,
a.xbutton.white{
	background:#fff;
	color:#35a9c6;
}
